In [1]:
4>3

True

In [2]:
#remainder

In [3]:
10%3

1

In [7]:
x = 333

In [8]:
if x > 100:
    print(x)

333

In [9]:
#if elif else

In [10]:
myAge = 28

In [11]:
print("my age is: {myAge}")

my age is: {myAge}

In [13]:
print(f"my age is: {myAge}")#formatted string

my age is: 28

In [14]:

myList = [1,3,5,6,54,4]

In [19]:
for number in myList:
    print(number*number)

1
9
25
36
2916
16

In [21]:
54 in myList

True

In [23]:
"a" in "ananas"

True

In [24]:
m = 0

In [26]:
while m < 10:
    print(m)
    m += 1

0
1
2
3
4
5
6
7
8
9