In [1]:
#range

In [2]:
range(50,60)

range(50, 60)

In [3]:
list(range(50,60))

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59]

In [5]:
myList = ["s","f","3","f"]

In [8]:
for num in range(0,len(myList)):
    print(num)

0
1
2
3

In [9]:
#enumarate

In [10]:
myList = range(5,15)

In [11]:
myList

range(5, 15)

In [14]:
myList = list(range(5,15))

In [15]:
myList

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [16]:
for element in enumerate(myList):
    print(element)

(0, 5)
(1, 6)
(2, 7)
(3, 8)
(4, 9)
(5, 10)
(6, 11)
(7, 12)
(8, 13)
(9, 14)

In [17]:
for (index,number) in enumerate(myList):
    print(f"number = {number} index = {index}")

number = 5 index = 0
number = 6 index = 1
number = 7 index = 2
number = 8 index = 3
number = 9 index = 4
number = 10 index = 5
number = 11 index = 6
number = 12 index = 7
number = 13 index = 8
number = 14 index = 9

In [18]:
myString = "Enes KAYA"

In [19]:
    newList = [element for element in myString]

In [20]:
newList

['E', 'n', 'e', 's', ' ', 'K', 'A', 'Y', 'A']

In [21]:
#functions

In [23]:
def helloWorld():
    print("hello python")

In [24]:
helloWorld()

hello python

In [26]:
def helloName(name):
    print(f"hello {name}")

In [27]:
helloName("enes")

hello enes

In [29]:
def pythonSum(num1,num2):
    print(num1+num2)

In [30]:
pythonSum(2,4)

6

In [32]:
def pythonSum2(num1,num2):
    print(num1+num2)
    return num1+num2

In [33]:
x = pythonSum2(3,5)

8

In [34]:
x

8

In [36]:
type(x)

int

In [38]:
def defaultValu(name = "enes"):
    print(name)

In [39]:
defaultValu("kiraz")

kiraz

In [40]:
defaultValu()

enes